<div tuiCardLarge class="product-card" (click)="viewHistory()">
  <div tuiHeader>
    <h1 tuiTitle>{{ product.name }}</h1>
  </div>
  <div class="product-info">
    <div class="product-details">
      <p *ngIf="product.url != null">
<!--        Ссылка:-->
<!--&lt;!&ndash;        <a [href]="product.url" target="_blank" (click)="$event.stopPropagation()">&ndash;&gt;-->
<!--&lt;!&ndash;          {{ product.url }}&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
      </p>
      <p>Создано: {{ product.created_at | date:'medium' }}</p>
    </div>
  </div>
</div>
