<div class="chart-container">
  <h3 class="tui-text_h3">Динамика цен</h3>

  <div *ngIf="isLoading" class="loading">
    <tui-loader size="xl"></tui-loader>
  </div>


  <div *ngIf="errorMessage" class="error-state tui-text_body-xl">
    {{ errorMessage }}
  </div>


  <div *ngIf="!isLoading && !errorMessage && hasData" class="chart-wrapper">
    <h3 class="tui-text_h3">История изменений продукта</h3>

    <div class="controls">
      <tui-input-date-range
        [formControl]="dateRangeControl"
      >
        Диапазон данных
      </tui-input-date-range>

      <tui-axes
        *ngIf="xLabels"
        class="axes"
        [axisXLabels]="xLabels"
        [horizontalLines]="4"
        [verticalLines]="xLabels.length - 1"
      >
        <tui-line-chart
          class="chart"
          [height]="200"
          [value]="value"
          [xStringify]="xStringify"
          [yStringify]="yStringify"
        />
      </tui-axes>

      <div class="legend">
        <div *ngFor="let item of legendItems" class="legend-item">
          <div class="color-box" [style.background]="item.color"></div>
          <span class="tui-text_body-m">{{ item.label }}</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && !errorMessage && !hasData" class="no-data tui-text_body-m">
    Нет данных для отображения
  </div>
</div>
